body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  margin: 10px auto 10px auto;
  border: solid 3px #000;
  border-collapse: collapse;
  width: 45%;
}

th, td {
  border: solid 1px #222222;
}

th {
  font-weight: bold;
}

button {
  /*margin: 10px auto 10px auto;*/
  text-align: center;
  display: inline;
}

.total {
  border-top: solid 2px #000;
}

.total td:first-child{
  font-weight: bold;
}
